<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Minhas Visitas</h1>
    <button class="btn btn-primary" [routerLink]="['/visitas/new']">
      <i class="bi bi-plus-circle"></i> Adicionar Nova Visita
    </button>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-hover mb-0">
        <thead class="thead-light">
        <tr>
          <th>Nome</th>
          <th>Lugar</th>
          <th>Data</th>
          <th class="text-center">Avaliação</th>
          <th class="text-end">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let visita of visitas">
          <td>{{ visita.nome }}</td>
          <td>{{ visita.lugar }}</td>
          <td>{{ visita.dataVisita | date:'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center">{{ visita.avaliacao }} / 10</td>
          <td class="text-end">
            <button class="btn btn-sm btn-outline-secondary me-2" [routerLink]="['/visitas/edit', visita.id]">Editar</button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteVisita(visita.id)">Apagar</button>
          </td>
        </tr>
        <tr *ngIf="visitas.length === 0">
          <td colspan="5" class="text-center text-muted">Nenhuma visita cadastrada.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
